# Email aliases for ERP MTIB
# Copyright (C) 2026 EVE-MEDIA - All rights reserved
#
# Format: Proper Name <proper@email.com> <commit@email.com>

# EVE-MEDIA Team
EVE-MEDIA <contact@eve-media.com>
Hachem Bakhouch <hachem@eve-media.com> <HachemBakhouch@users.noreply.github.com>
EVE-MEDIA <contact@eve-media.com> <contact@eve-media.com>
